[Unit]
Description=Minecraft Server Vanilla
After=docker.service
Requires=docker.service

[Service]
Type=simple
WorkingDirectory=/opt/server
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=always
User=username

[Install]
WantedBy=multi-user.target